openapi: 3.0.3
info:
  title: 座席数据管理服务API
  description: 呼叫中心平台座席数据管理相关接口
  version: v10
  contact:
    name: CTI Cloud Support
    url: https://cticloud.cn
servers:
  - url: https://api-1.cticloud.cn/interface/v10
    description: 华东1区
  - url: https://api-2.cticloud.cn/interface/v10
    description: 华北2区
  - url: https://api-5.cticloud.cn/interface/v10
    description: 华东5区
  - url: https://api-6.cticloud.cn/interface/v10
    description: 华北6区
security:
  - signature: []
components:
  securitySchemes:
    signature:
      type: apiKey
      in: query
      name: sign
      description: MD5签名验证
  schemas:
    BaseRequest:
      type: object
      required:
        - validateType
        - timestamp
        - sign
      properties:
        validateType:
          type: integer
          enum:
            - 1
            - 2
          description: 验证类型：1=部门验证，2=企业验证
        departmentId:
          type: string
          description: 部门编号，validateType=1时必选
        enterpriseId:
          type: integer
          description: 企业编号，validateType=2时必选
        timestamp:
          type: integer
          format: int64
          description: 当前时间戳(秒级)，有效期30分钟
        sign:
          type: string
          pattern: ^[a-f0-9]{32}$
          description: MD5签名，32位小写
    BaseResponse:
      type: object
      properties:
        result:
          type: integer
          description: 结果码：0=成功，-1=失败
        description:
          type: string
          description: 返回结果描述
    AgentInfo:
      type: object
      properties:
        agentId:
          type: integer
          description: 座席ID
        cno:
          type: string
          description: 座席工号
        agentName:
          type: string
          description: 座席姓名
        departmentId:
          type: string
          description: 所属部门ID
        departmentName:
          type: string
          description: 所属部门名称
        queueIds:
          type: array
          items:
            type: integer
          description: 关联队列ID列表
        status:
          type: string
          enum:
            - offline
            - idle
            - busy
            - talking
            - wrapup
            - ring
          description: 座席状态
        extensions:
          type: array
          items:
            type: string
          description: 绑定分机号
        skills:
          type: array
          items:
            type: string
          description: 技能标签
        maxConcurrent:
          type: integer
          description: 最大并发通话数
        priority:
          type: integer
          description: 优先级
        createTime:
          type: string
          format: date-time
          description: 创建时间
    AgentStats:
      type: object
      properties:
        cno:
          type: string
          description: 座席工号
        date:
          type: string
          format: date
          description: 统计日期
        loginTime:
          type: integer
          description: 登录时长(秒)
        idleTime:
          type: integer
          description: 空闲时长(秒)
        busyTime:
          type: integer
          description: 置忙时长(秒)
        talkTime:
          type: integer
          description: 通话时长(秒)
        wrapupTime:
          type: integer
          description: 整理时长(秒)
        inboundCount:
          type: integer
          description: 来电接听数
        outboundCount:
          type: integer
          description: 外呼数量
        totalCallCount:
          type: integer
          description: 总通话数
        avgTalkTime:
          type: number
          description: 平均通话时长(秒)
        utilization:
          type: number
          description: 利用率(%)
    AgentStatusLog:
      type: object
      properties:
        id:
          type: integer
          description: 记录ID
        cno:
          type: string
          description: 座席工号
        fromStatus:
          type: string
          description: 原状态
        toStatus:
          type: string
          description: 目标状态
        changeTime:
          type: string
          format: date-time
          description: 状态变更时间
        duration:
          type: integer
          description: 持续时长(秒)
        reason:
          type: string
          description: 状态变更原因
        reasonCode:
          type: string
          description: 原因代码
    QueueInfo:
      type: object
      properties:
        queueId:
          type: integer
          description: 队列ID
        queueName:
          type: string
          description: 队列名称
        agentCount:
          type: integer
          description: 座席数量
        waitingCount:
          type: integer
          description: 等待通话数
        strategy:
          type: string
          enum:
            - ring_all
            - least_recent
            - fewest_calls
            - random
            - round_robin
          description: 分配策略
        maxWaitTime:
          type: integer
          description: 最大等待时间(秒)
        serviceLevel:
          type: integer
          description: 服务水平目标(秒)
        status:
          type: string
          enum:
            - active
            - inactive
          description: 队列状态
    CreateAgentRequest:
      allOf:
        - $ref: '#/components/schemas/BaseRequest'
        - type: object
          required:
            - cno
            - agentName
            - departmentId
          properties:
            cno:
              type: string
              maxLength: 50
              description: 座席工号
            agentName:
              type: string
              maxLength: 100
              description: 座席姓名
            departmentId:
              type: string
              description: 所属部门ID
            queueIds:
              type: array
              items:
                type: integer
              description: 关联队列ID列表
            extensions:
              type: array
              items:
                type: string
              description: 绑定分机号
            skills:
              type: array
              items:
                type: string
              description: 技能标签
            maxConcurrent:
              type: integer
              minimum: 1
              maximum: 10
              default: 1
              description: 最大并发通话数
            priority:
              type: integer
              minimum: 1
              maximum: 100
              default: 50
              description: 优先级
paths:
  /agent/list:
    get:
      tags:
        - 座席管理
      summary: 获取座席列表
      description: 获取座席基本信息列表
      operationId: getAgentList
      parameters:
        - name: validateType
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - name: departmentId
          in: query
          schema:
            type: string
        - name: enterpriseId
          in: query
          schema:
            type: integer
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: sign
          in: query
          required: true
          schema:
            type: string
        - name: queueId
          in: query
          schema:
            type: integer
            description: 队列ID筛选
        - name: status
          in: query
          schema:
            type: string
            enum:
              - offline
              - idle
              - busy
              - talking
              - wrapup
              - ring
            description: 座席状态筛选
        - name: cno
          in: query
          schema:
            type: string
            description: 座席工号搜索
        - name: pageNo
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          total:
                            type: integer
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/AgentInfo'
  /agent/detail:
    get:
      tags:
        - 座席管理
      summary: 获取座席详情
      description: 获取座席详细信息
      operationId: getAgentDetail
      parameters:
        - name: validateType
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - name: departmentId
          in: query
          schema:
            type: string
        - name: enterpriseId
          in: query
          schema:
            type: integer
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: sign
          in: query
          required: true
          schema:
            type: string
        - name: cno
          in: query
          required: true
          schema:
            type: string
            description: 座席工号
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentInfo'
  /agent/create:
    post:
      tags:
        - 座席管理
      summary: 创建座席
      description: 创建新的座席
      operationId: createAgent
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '200':
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          agentId:
                            type: integer
                            description: 新创建的座席ID
  /agent/stats/daily:
    get:
      tags:
        - 座席统计
      summary: 座席日统计
      description: 获取座席每日统计数据
      operationId: getAgentDailyStats
      parameters:
        - name: validateType
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - name: departmentId
          in: query
          schema:
            type: string
        - name: enterpriseId
          in: query
          schema:
            type: integer
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: sign
          in: query
          required: true
          schema:
            type: string
        - name: cno
          in: query
          schema:
            type: string
            description: 座席工号
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
            description: 开始日期
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
            description: 结束日期
        - name: pageNo
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          total:
                            type: integer
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/AgentStats'
  /agent/status/log:
    get:
      tags:
        - 座席统计
      summary: 座席状态日志
      description: 获取座席状态变更历史记录
      operationId: getAgentStatusLog
      parameters:
        - name: validateType
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - name: departmentId
          in: query
          schema:
            type: string
        - name: enterpriseId
          in: query
          schema:
            type: integer
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: sign
          in: query
          required: true
          schema:
            type: string
        - name: cno
          in: query
          required: true
          schema:
            type: string
            description: 座席工号
        - name: startTime
          in: query
          schema:
            type: string
            format: date-time
            description: 开始时间
        - name: endTime
          in: query
          schema:
            type: string
            format: date-time
            description: 结束时间
        - name: pageNo
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 50
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          total:
                            type: integer
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/AgentStatusLog'
  /queue/list:
    get:
      tags:
        - 队列管理
      summary: 获取队列列表
      description: 获取队列基本信息列表
      operationId: getQueueList
      parameters:
        - name: validateType
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - name: departmentId
          in: query
          schema:
            type: string
        - name: enterpriseId
          in: query
          schema:
            type: integer
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: sign
          in: query
          required: true
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - inactive
            description: 队列状态筛选
        - name: pageNo
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          total:
                            type: integer
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/QueueInfo'
  /agent/queue/bind:
    post:
      tags:
        - 队列管理
      summary: 座席队列绑定
      description: 绑定座席到队列
      operationId: bindAgentQueue
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: '#/components/schemas/BaseRequest'
                - type: object
                  required:
                    - cno
                    - queueIds
                  properties:
                    cno:
                      type: string
                      description: 座席工号
                    queueIds:
                      type: array
                      items:
                        type: integer
                      description: 队列ID列表
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BaseRequest'
                - type: object
                  required:
                    - cno
                    - queueIds
                  properties:
                    cno:
                      type: string
                      description: 座席工号
                    queueIds:
                      type: array
                      items:
                        type: integer
                      description: 队列ID列表
      responses:
        '200':
          description: 绑定成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
tags:
  - name: 座席管理
    description: 座席基本信息管理相关接口
  - name: 座席统计
    description: 座席统计数据相关接口
  - name: 队列管理
    description: 队列信息管理相关接口
