openapi: 3.0.3
info:
  title: 号码管理服务API
  description: 呼叫中心平台号码管理相关接口
  version: v10
  contact:
    name: CTI Cloud Support
    url: https://cticloud.cn
servers:
  - url: https://api-1.cticloud.cn/interface/v10
    description: 华东1区
  - url: https://api-2.cticloud.cn/interface/v10
    description: 华北2区
  - url: https://api-5.cticloud.cn/interface/v10
    description: 华东5区
  - url: https://api-6.cticloud.cn/interface/v10
    description: 华北6区
security:
  - signature: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: sign
  schemas:
    BaseRequest:
      type: object
      required:
        - validateType
        - timestamp
        - sign
      properties:
        validateType:
          type: integer
          enum:
            - 1
            - 2
          description: 验证类型：1=部门验证，2=企业验证
        departmentId:
          type: string
          description: 部门编号，validateType=1时必选
        enterpriseId:
          type: integer
          description: 企业编号，validateType=2时必选
        timestamp:
          type: integer
          format: int64
          description: 当前时间戳(秒级)，有效期30分钟
        sign:
          type: string
          pattern: ^[a-f0-9]{32}$
          description: MD5签名，32位小写
    BaseResponse:
      type: object
      properties:
        result:
          type: integer
          description: 结果码：0=成功，-1=失败
        description:
          type: string
          description: 返回结果描述
    NumberInfo:
      type: object
      properties:
        number:
          type: string
          description: 电话号码
        province:
          type: string
          description: 省份
        city:
          type: string
          description: 城市
        operator:
          type: string
          enum:
            - 中国移动
            - 中国联通
            - 中国电信
          description: 运营商
        numberType:
          type: string
          enum:
            - 手机
            - 固话
            - 虚拟号
          description: 号码类型
        areaCode:
          type: string
          description: 区号
    NumberPool:
      type: object
      properties:
        poolId:
          type: integer
          description: 号码池ID
        poolName:
          type: string
          description: 号码池名称
        totalCount:
          type: integer
          description: 号码总数
        usedCount:
          type: integer
          description: 已使用数量
        availableCount:
          type: integer
          description: 可用数量
        description:
          type: string
          description: 描述
        createTime:
          type: string
          format: date-time
          description: 创建时间
    NumberStatus:
      type: object
      properties:
        number:
          type: string
          description: 电话号码
        status:
          type: string
          enum:
            - valid
            - invalid
            - empty
            - busy
            - shutdown
            - suspended
          description: 号码状态
        statusDesc:
          type: string
          description: 状态描述
        checkTime:
          type: string
          format: date-time
          description: 检测时间
        remark:
          type: string
          description: 备注
    BlacklistEntry:
      type: object
      properties:
        id:
          type: integer
          description: 记录ID
        number:
          type: string
          description: 号码
        type:
          type: string
          enum:
            - global
            - department
            - agent
          description: 黑名单类型
        reason:
          type: string
          description: 加入原因
        createTime:
          type: string
          format: date-time
          description: 创建时间
        operator:
          type: string
          description: 操作人
paths:
  /number/location/query:
    get:
      tags:
        - 号码归属地
      summary: 号码归属地查询
      description: 查询电话号码的归属地信息
      operationId: queryNumberLocation
      parameters:
        - name: validateType
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - name: departmentId
          in: query
          schema:
            type: string
        - name: enterpriseId
          in: query
          schema:
            type: integer
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: sign
          in: query
          required: true
          schema:
            type: string
        - name: number
          in: query
          required: true
          schema:
            type: string
            description: 要查询的电话号码
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/NumberInfo'
              examples:
                New Example:
                  summary: New Example
                  value: '{}'
  /number/pool/list:
    get:
      tags:
        - 号码池管理
      summary: 获取号码池列表
      description: 获取号码池列表信息
      operationId: getNumberPoolList
      parameters:
        - name: validateType
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - name: departmentId
          in: query
          schema:
            type: string
        - name: enterpriseId
          in: query
          schema:
            type: integer
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: sign
          in: query
          required: true
          schema:
            type: string
        - name: pageNo
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          total:
                            type: integer
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/NumberPool'
  /number/pool/numbers:
    get:
      tags:
        - 号码池管理
      summary: 获取号码池中的号码
      description: 获取指定号码池中的号码列表
      operationId: getPoolNumbers
      parameters:
        - name: validateType
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - name: departmentId
          in: query
          schema:
            type: string
        - name: enterpriseId
          in: query
          schema:
            type: integer
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: sign
          in: query
          required: true
          schema:
            type: string
        - name: poolId
          in: query
          required: true
          schema:
            type: integer
            description: 号码池ID
        - name: pageNo
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 20
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          total:
                            type: integer
                          list:
                            type: array
                            items:
                              type: string
  /number/status/check:
    post:
      tags:
        - 号码状态检测
      summary: 号码状态检测
      description: 检测电话号码的状态
      operationId: checkNumberStatus
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: '#/components/schemas/BaseRequest'
                - type: object
                  required:
                    - numbers
                  properties:
                    numbers:
                      type: array
                      maxItems: 1000
                      items:
                        type: string
                      description: 要检测的号码列表
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BaseRequest'
                - type: object
                  required:
                    - numbers
                  properties:
                    numbers:
                      type: array
                      maxItems: 1000
                      items:
                        type: string
                      description: 要检测的号码列表
      responses:
        '200':
          description: 检测完成
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/NumberStatus'
  /number/blacklist/add:
    post:
      tags:
        - 黑名单管理
      summary: 添加黑名单
      description: 将号码添加到黑名单
      operationId: addBlacklist
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: '#/components/schemas/BaseRequest'
                - type: object
                  required:
                    - number
                    - type
                  properties:
                    number:
                      type: string
                      description: 电话号码
                    type:
                      type: string
                      enum:
                        - global
                        - department
                        - agent
                      description: 黑名单类型
                    reason:
                      type: string
                      description: 加入原因
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BaseRequest'
                - type: object
                  required:
                    - number
                    - type
                  properties:
                    number:
                      type: string
                      description: 电话号码
                    type:
                      type: string
                      enum:
                        - global
                        - department
                        - agent
                      description: 黑名单类型
                    reason:
                      type: string
                      description: 加入原因
      responses:
        '200':
          description: 添加成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /number/blacklist/remove:
    post:
      tags:
        - 黑名单管理
      summary: 移除黑名单
      description: 从黑名单中移除号码
      operationId: removeBlacklist
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: '#/components/schemas/BaseRequest'
                - type: object
                  required:
                    - number
                  properties:
                    number:
                      type: string
                      description: 电话号码
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BaseRequest'
                - type: object
                  required:
                    - number
                  properties:
                    number:
                      type: string
                      description: 电话号码
      responses:
        '200':
          description: 移除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /number/blacklist/query:
    get:
      tags:
        - 黑名单管理
      summary: 查询黑名单
      description: 查询黑名单列表
      operationId: queryBlacklist
      parameters:
        - name: validateType
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - name: departmentId
          in: query
          schema:
            type: string
        - name: enterpriseId
          in: query
          schema:
            type: integer
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: sign
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum:
              - global
              - department
              - agent
            description: 黑名单类型筛选
        - name: number
          in: query
          schema:
            type: string
            description: 号码搜索
        - name: pageNo
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 20
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          total:
                            type: integer
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/BlacklistEntry'
tags:
  - name: 号码归属地
    description: 号码归属地查询相关接口
  - name: 号码池管理
    description: 号码池管理相关接口
  - name: 号码状态检测
    description: 号码状态检测相关接口
  - name: 黑名单管理
    description: 号码黑名单管理相关接口
x-readme: {}
